<h2>In progress</h2>
<ul>
  {{#each listItems as |list|}}
    {{#unless list.isNew }}
      {{#unless list.completed}}
        <li>
          <h4>{{list.description}}
          <div class="glyphicon glyphicon-ok-circle" {{action "completed" list}}></div>
          <div class="glyphicon glyphicon-remove-circle" {{action "deleteItems" list}}></div></h4>
        </li>
      {{/unless}}
    {{/unless}}
  {{/each}}
</ul>
