{{outlet}}

| {{link-to 'New Goal' 'goals.new'}}

<ul>
{{#each model as |goal|}}
  {{#unless goal.isNew }}
  <li>{{link-to goal.name 'goals.goal' goal}}
    | <button {{action "delete" goal}} class="btn btn-primary">Delete</button></li>
  {{/unless}}
{{/each}}
</ul>
