<body>

  <div class="left-drop">
    {{#bs-dropdown}}
    {{#bs-dropdown-button}}❈{{/bs-dropdown-button}}
    {{#bs-dropdown-menu}}
    <li>{{#link-to "goals"}}All Goals{{/link-to}}</li>
    <li>{{#link-to "goals.new"}}New Goal{{/link-to}}</li>
    <li>{{#link-to "root"}}Home{{/link-to}}</li>
    {{/bs-dropdown-menu}}
    {{/bs-dropdown}}
  </div>

  <div class="right-drop">
    <button><a href="#" {{action 'invalidateSession'}}>Log out</a></button>
  </div>



    {{outlet}}

</body>
