<br>Log In to your account! <br> <br>

<form {{action 'authenticate' on="submit"}}>
  <label for="email">Email</label> <br>
    {{input id="email" value=email}} <br>
  <label for="password">Password</label> <br>
    {{input type="password" value=password}} <br> <br>
  <button class="btn btn-default" type="submit">Log In</button>
</form>
