{{outlet}}

| {{link-to 'New Goal' 'users.user.goals.new'}}

<ul>
{{#each model.goals as |goal|}}
  {{#unless goal.isNew }}
  <li>{{link-to goal.name 'users.user.goals.goal' goal}}
    | <button {{action "delete" goal}} class="btn btn-primary">Delete</button></li>
  {{/unless}}
{{/each}}
</ul>
